.body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: var(--tg-theme-bg-color);
}

.main{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.h1{
    text-align: center;
    color: var(--tg-theme-text-color);
}

.p{
    width: 350px;
    margin: 0 auto;
    color: var(--tg-theme-text-color);
}
a.button {
    padding: 1px 6px;
    border: 1px;
    border-radius: 3px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}
a.button:hover{
    color: #FFFFFF;
    background-color: #000000;
}