.body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: var(--tg-theme-bg-color);
}

.main{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.h1{
    text-align: center;
}

.p{
    width: 350px;
    margin: 0 auto;
}

button{
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight:500;
    cursor: pointer;
    transition: all 500ms ease;
    color: #000000;
    background: #e0e0e0;
}
.button:hover{
    background: #FFFFFF;
}